<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Selamat Datang di SIDAN</title>
    <link rel="stylesheet" href="dist/styles.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <script src="dist/bundle.js"></script>
    <script src="node_modules/wowjs/dist/wow.js"></script>
</head>
<body class="bg-white">
<nav class="navbar navbar-expand-lg navbar-dark mb-0" style="background-color: black">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            SIDAN
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item mx-2">
                    <a class="nav-link text-white" href="#">Partner</a>
                </li>
            </ul>
            <div class="w-100 mx-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Masukan kata kunci..">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="my-2">
                <button class="btn btn-primary text-white mx-2" href="#">Sign In</button>
            </div>
            <div class="my-2">
                <button class="btn btn-success text-white mx-2" href="#">Register</button>
            </div>
        </div>
    </div>
</nav>
<section class="my-5 container">
    <div class="row">
        <div class="col-md-2">
            <img class="img-fluid" src="public/images/telkomsel.png">
        </div>
        <div class="col-md-2 my-3">
            <p class="font-weight-bold">Username : Test</p>
            <p class="font-weight-bold">Category : Grapari</p>
            <p class="font-weight-bold">No. Antrian : A03</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <p class="h4 text-center">Daftar Antrian</p>
        </div>
        <div class="col-md-4 ml-auto my-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Masukan kata kunci..">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fa fa-search mr-2"></i>Cari</button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr class="text-center">
                    <th scope="col">No</th>
                    <th scope="col">No. Antrian</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Tanggal</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>A01</td>
                    <td>Budiman</td>
                    <td>2018-06-01, 03:00 PM</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>A02</td>
                    <td>Kade Prema Waisnawa</td>
                    <td>2018-06-01, 04:00 PM</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>A03</td>
                    <td>Nugie Nugraha</td>
                    <td>2018-06-01, 05:00 PM</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 mt-4">
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<footer id="main-footer" style="background-color: black" class="text-white p-3 mt-5">
    <div class="container">
        <h2>Where to Find us ?</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <p class="lead"><span class="mr-2"><I class="fa fa-phone"></I></span>082312312</p>
                <p class="lead"><span class="mr-2"><I class="fa fa-envelope"></I></span>sidan@gmail.com</p>
                <p class="lead"><span class="mr-2"><I class="fa fa-location-arrow"></I></span>Jln. Tukad Pakerisan no.52
                </p>
            </div>
            <div class="col-md-4">
                <p class="text-center"><img style="height: 150px"
                                            src="http://stiki-indonesia.ac.id/wp-content/themes/stikiindo/img/map.jpg"
                                            class="img-fluid" alt="Google Map location"></p>
                <p class="text-center"><span><i class="fa fa-location-arrow">SIDAN's Office</i></span></p>
            </div>
            <div class="col-md-4 text-center">
                <p class="h5">Find Us on Social Medias</p>
                <p>
                    <span class="mx-3 display-4"><i class="fa fa-instagram"></i></span>
                    <span class="mx-3 display-4"><i class="fa fa-facebook-square"></i></span>
                    <span class="mx-3 display-4"><i class="fa fa-twitter"></i></span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="lead text-center">Copyright &copy; 2018 SIDAN</p>
            </div>
        </div>
    </div>
</footer>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
                <h3 class="text-center"><span class="h3 mr-3"><i class="fa fa-info-circle"></i></span>Layanan IndiHome
                </h3>
                <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi asperiores at
                    consequatur culpa cumque dicta dignissimos dolores dolorum earum, enim explicabo magnam magni
                    maiores minus nam non nostrum quae quam quas quasi quo similique suscipit tempora tempore
                    voluptate?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    new WOW().init();
</script>
</body>
</html>