<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Selamat Datang di SIDAN</title>
    <link rel="stylesheet" href="dist/styles.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <script src="dist/bundle.js"></script>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark mb-0" style="background-color: black">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            SIDAN
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item mx-2">
                    <a class="nav-link text-white" href="#">Partner</a>
                </li>
            </ul>
            <div class="w-100 mx-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Masukan kata kunci..">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="my-2">
                <button class="btn btn-primary text-white mx-2" href="#">Sign In</button>
            </div>
            <div class="my-2">
                <button class="btn btn-success text-white mx-2" href="#">Register</button>
            </div>
        </div>
    </div>
</nav>
<section class="container my-5">
    <div class="row">
        <div class="card border-dark mb-3 mx-auto w-50 sidan-shadow">
            <div class="card-header bg-success"></div>
            <div class="card-body text-dark">
                <h5 class="card-title">Silahkan lengkapi form di bawah ini</h5>
                <form>
                    <div class="form-group">
                        <label for="nama_perusahaan">Nama Perusahaan</label>
                        <input type="email" class="form-control" id="nama_perusahaan" aria-describedby="emailHelp" placeholder="Masukan nama perusahaan">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Masukan email..">
                        <small id="emailHelp" class="form-text text-muted">Pastikan email yang anda masukan sudah benar sebelum mendaftar</small>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success">Daftar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer id="main-footer" style="background-color: black" class="text-white p-3 mt-5">
    <div class="container">
        <h2>Where to Find us ?</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <p class="lead"><span class="mr-2"><I class="fa fa-phone"></I></span>082312312</p>
                <p class="lead"><span class="mr-2"><I class="fa fa-envelope"></I></span>sidan@gmail.com</p>
                <p class="lead"><span class="mr-2"><I class="fa fa-location-arrow"></I></span>Jln. Tukad Pakerisan no.52
                </p>
            </div>
            <div class="col-md-4">
                <p class="text-center"><img style="height: 150px"
                                            src="http://stiki-indonesia.ac.id/wp-content/themes/stikiindo/img/map.jpg"
                                            class="img-fluid" alt="Google Map location"></p>
                <p class="text-center"><span><i class="fa fa-location-arrow">SIDAN's Office</i></span></p>
            </div>
            <div class="col-md-4 text-center">
                <p class="h5">Find Us on Social Medias</p>
                <p>
                    <span class="mx-3 display-4"><i class="fa fa-instagram"></i></span>
                    <span class="mx-3 display-4"><i class="fa fa-facebook-square"></i></span>
                    <span class="mx-3 display-4"><i class="fa fa-twitter"></i></span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="lead text-center">Copyright &copy; 2018 SIDAN</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>